
/* CSS Resets */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-text-size-adjust: 100%;
    /* text-rendering:optimizeLegibility;
    font-kerning: normal; */
}
body {
    background-color: hsl(212, 45%, 89%);
}

/* Below are the CSS Styles for the QR Code Component Card. Most of these styles pertain to static positioning, like using pixels instead of percentages for values. */

.qr-card {
    position: relative;
    display: block;
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    /* background-image: url("../images/guide-templates/mobile-design-card-only-02.jpg"); */
    margin: 15% auto 0px auto;
    border-radius: 20px;
    box-shadow: 0px 25px 50px 0px hsla(218, 44%, 22%, .1);
    /* outline: 1px solid red; */
}
.qr-card-content {
    position: relative;
    display: inline-block;
    margin: 16px;
}
.qr-code {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}
h1 {
    position: relative;
    top: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: .01em;
    text-align: center;
}
p {
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.014em;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 36px 15px 0px 15px;
}

/* Below are the CSS Styles for attribution to the QR Code Component Card. */

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 35px 0px 0px 0px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.attribution a:hover {
    font-size: 11px;
    text-align: center;
    color: rgb(43, 125, 250);
    margin: 35px 0px 0px 0px;
}